<template name="addCategories">
    <h1 class="text-center" >Enregistrement</h1>
    {{#autoForm collection="Categories" id="insertCategories"}}
    <fieldset>
        <legend>Informations de votre etablissement</legend>
        {{> afQuickField name="nom"}}
        {{> afQuickField name="adresse"}}
        {{> afQuickField name="horaire"}}
        {{> afQuickField name="telephone"}}
        {{> afQuickField name="description"}}
        {{> afQuickField name="longitude"}}
        {{> afQuickField name="latitude"}}



    </fieldset>
    <button type="submit" class="btn btn-primary">Valider</button>
    {{/autoForm}}
</template>