<Template name="home">
    <div class="container">
        <div class="table-responsive">
            <table class="table">

                <thead>
                <tr>
                    <th>Nom</th>
                    <th>telephone</th>
                    <th>adresse</th>
                    <th>horaire</th>
                </tr>
                </thead>
                <thead>
                {{#each categories}}
                <tr>
                    <th>{{ nom }}</th>
                    <th>{{telephone}}</th>
                    <th>{{adresse}}</th>
                    <th>{{horaire}}</th>

                </tr>
                {{/each}}
                </thead>
            </table>
        </div>
    </div>
</Template>
