<template name="mainLayout">
    <head>
        <title>OCShare</title>
        <meta charset="utf-8"/>
    </head>

    <body>
    <div class="container">
        <div class="row">
            <header class="col-md-12 jumbotron">
                <h1>
                    {{getGlobal 'appName' }} <br/>
                    {{#if getGlobal 'appSlogan' }}
                        <small class="slogan">{{getGlobal 'appSlogan'}}</small>
                    {{/if}}

                </h1>
            </header>
        </div>
        <div class="row">
            <nav class="col-md-3">{{> menu}}</nav>
            <section class="col-md-9 well">{{> yield}}</section>
        </div>
        <div class="row">
            <footer class="col-md-12">
                <hr/>
                <div class="footer">
                    {{#if currentUser}}

                    <p>

                        {{> logout}}!

                    </p>

                    {{else}}
                    <p>
            <a href="{{pathFor route='user.login'}}"> Connection</a>


                    </p>
                    {{/if}}
                </div>
            </footer>
        </div>
    </div>
    </body>
</template>