<template name="menu">
    <h3>Menu</h3>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{pathFor route='home'}}">Accueil</a></li>
        <li><a href="{{pathFor route='Categories.Categories'}}">Ajouter un commerce</a></li>
        <li><a href="{{pathFor route='addArticle'}}">Ajouter un menu</a></li>
        <li><a href="{{pathFor route='article.show'}}">liste des menu</a></li>

    </ul>
    <h3>Mon compte</h3>
    <ul class="nav nav-pills nav-stacked">
        <li>Menu utilisé plus tard</li>
    </ul>
</template>
