<Template name="articleshow">
    <div class="container">

        <table class="table">
            <thead>
            {{#each articles}}
            <tr>
                <th>{{ title }}</th>
                <th>{{author}}</th>
                <th>{{produit}}</th>


            </tr>{{/each}}
            </thead>
        </table>
    </div>
</Template>
